@{
    ViewData["Title"] = "Dados Cliente";
}
<link rel="stylesheet" href="~/css/estiloDados.css" asp-append-version="true">

<div class="titulo">
    <h2>Olá Marina!</h2>
    <p>Seu Intercâmbio, do Céu ao Infinito.</p>
</div>

<div class="container">
    <div class="form-container">
        <!-- Imagem que vai aparecer no perfil -->
        <img class="user" src="/img/usuario.png" alt="Imagem de user" />
        <div class="form-details">
            <div class="button">
                <input type="submit" value="Voltar" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>

<div class="text-container">
</div>